{% extends "base.html" %}

{% block content %}
<div class="container h-100 w-50 top-50 landing-page">
  <div class="d-flex flex-column h-100 justify-content-center">
    <p class="brand-text text-center font-weight-bold"> V I Z I R</p>
    <form action="{{ url }}", method="POST" enctype="multipart/form-data">
      <div class="input-group rounded">
        <input id="query" name="query" type="search" class="form-control rounded" placeholder="my video search goes here..." aria-label="Search" aria-describedby="search-addon" />
      </div>
    </form>
  </div>
</div>
{% endblock %}